.app {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        text-align: left;
        margin-bottom: 45px;
    }

    &__text {
        max-width: 538px;
        width: 100%;
        margin-bottom: 30px;
    }

    &__link {
        position: relative;
        height: 40px;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            height: 40px;
            border-radius: 5px;
        }

        &--apple {
            width: 120px;
            margin-right: 25px;

            &::before {
                background-image: url('../images/icons/apple-icon.svg');
                width: 120px;
                left: 0;
            }
        }

        &--google {
            width: 135px;

            &::before {
                background-image: url('../images/icons/google-icon.svg');
                width: 135px;
                left: 0;
            }
        }


    }







}