.features {

    &__inner {
        display: flex;
        justify-content: space-around;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 470px;
        width: 100%;
    }

    &__title {
        text-align: left;
        margin-bottom: 30px;
    }

    &__span {
        display: block;
    }

    &__text {
        margin-bottom: 30px;
    }

    &__item {
        color: $title;
        font-size: 24px;
        display: block;
        position: relative;
        margin-bottom: 20px;
        padding-left: 64px;

        &::before {
            content: "";
            position: absolute;
            width: 34px;
            height: 34px;
            left: 0;
        }

        &--time::before {
            background-image: url('../images/icons/timer-icon.svg');
        }

        &--delivery::before {
            background-image: url('../images/icons/delivery-icon.svg');
        }

        &--restaurant {
            margin-bottom: 30px;

            &::before {
                background-image: url('../images/icons/restaurant-icon.svg');
            }
        }

    }

}