$accent: #FF6838;
$silver100: #F9FAFF;
$silver200: #ECECEC;
$gray: #C2C2C2;
$title: #363853;
$default:#31352B;
$white: #FFFFFF;

%Rubik-300 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

%Rubik-300-Italic {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

%Rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%Rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%Rubik-400-Italic {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%Rubik-600 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

