<section class="app section">
    <div class="container">
        <div class="app__inner">
            <div class="app__content">
                
                <h2 class="title app__title">
                    Скачайте мобильное приложение
                </h2>

                <div class="app__text">
                    <p>
                        Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом удобном месте. 
                    </p>
                </div>

                <a class="app__link app__link--apple" href="https://www.apple.com/ua/app-store/" target="blanck">
                    
                    <span class="sr-only">
                        ссылка на загрузку приложения
                    </span>

                </a>

                <a class="app__link app__link--google" href="https://play.google.com/store?hl=uk&gl=US" target="blanck">
                    
                    <span class="sr-only">
                        ссылка на загрузку приложения
                    </span>

                </a>

            </div>

            <img class="app__img" src="images/app-bg.jpg" width="570" height="380" alt="скачать приложение">
            
        </div>
    </div>
</section>