<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__content">
                <a class="logo footer__logo" href="#">
                    <img class="logo__img" src="images/logo.svg" alt="логотип" width="200" height="39">
                </a>

                <form class="footer__form" action="#">

                    <label class="form__label">
                        <input class="footer__input" type="email" name="form" placeholder="Ваш email" required>
                    </label>

                    <button class="footer__btn default__btn" type="submit">
                        <svg class="footer__btn--icon">
                            <use xlink:href="images/sprite.svg#subscribe-icon"></use>
                        </svg>
                        Подписаться
                    </button>

                </form>

            </div>

            <ul class="footer__list menu">

                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#">
                        Как это работает
                    </a>
                </li>

                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#">
                        Продукты
                    </a>
                </li>

                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#">
                        Блюда
                    </a>
                </li>

                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#">
                        Меню
                    </a>
                </li>

            </ul>

            <ul class="footer__list menu">

                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#">
                        О нас
                    </a>
                </li>

                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#">
                        Новости
                    </a>
                </li>

                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#">
                        Партнеры
                    </a>
                </li>

                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#">
                        ЧаВо
                    </a>
                </li>

            </ul>

            <ul class="footer__list menu">

                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#">
                        Скачать приложение
                    </a>
                </li>

                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#">
                        Блог
                    </a>
                </li>

                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#">
                        Что нового?
                    </a>
                </li>

                <li class="footer__item menu__item">
                    <a class="footer__link menu__link" href="#">
                        Карта сайта
                    </a>
                </li>

            </ul>

            <address class="footer__connection">

                <span class="footer__info footer__info--location">
                    ул. Смирнова 2/3
                </span>

                <a class="footer__info footer__info--phone menu__link" href="tel:+79068057043">
                    79068057043
                </a>

                <a class="footer__info footer__info--email menu__link" href="mailto:support@sfood.com">
                    support@sfood.com
                </a>

                <ul class="footer__social">

                    <li class="footer__lists">
                        <a class="footer__network" href="https://www.facebook.com"
                            target="blank">

                            <span class="sr-only">
                                ссылка на страницу в фейсбуке
                            </span>

                            <svg class="footer__icon">
                                <use xlink:href="images/sprite.svg#facebook-icon"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="footer__lists">
                        <a class="footer__network" href="https://www.twitter.com"
                            target="blank">

                            <span class="sr-only">
                                ссылка на страницу в твиттере
                            </span>

                            <svg class="footer__icon">
                                <use xlink:href="images/sprite.svg#twitter-icon"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="footer__lists">
                        <a class="footer__network" href="https://www.instagram.com"
                            target="blank">

                            <span class="sr-only">
                                ссылка на страницу в инстаграме
                            </span>

                            <svg class="footer__icon">
                                <use xlink:href="images/sprite.svg#instagram-icon"></use>
                            </svg>
                        </a>
                    </li>

                </ul>

            </address>

        </div>
    </div>

    <div class="footer__copy">
        © 2021 Simple Food
    </div>

</footer>