<header class="header section">
    <div class="container">

        <nav class="menu">

            <a class="logo" href="#">
                <img class="logo__img" src="images/logo.svg" alt="логотип" width="200" height="39">
            </a>

            <ul class="menu__list">

                <li class="menu__item">
                    <a class="menu__link  menu__link--active" href="#">
                        Главная
                    </a>
                </li>

                <li class="menu__item">
                    <a class="menu__link" href="#">
                        Блюда
                    </a>
                </li>

                <li class="menu__item">
                    <a class="menu__link" href="#">
                        Контакты
                    </a>
                </li>

            </ul>

            <div class="header__navigation">

                <a class="header__search" href="#">
                    
                    <span class="sr-only">
                        иконка поиска
                    </span>

                    <svg class="header__icon header__icon--search">
                        <use xlink:href="images/sprite.svg#search-icon"></use>
                    </svg>

                </a>

                <a class="header__buy" href="#">

                    <span class="sr-only">
                        иконка корзины
                    </span>

                    <svg class="header__icon header__icon--buy">
                        <use xlink:href="images/sprite.svg#cart-icon"></use>
                    </svg>

                    <span class="header__number">4</span>
                </a>

            </div>

        </nav>

    </div>
</header>