<section class="popular section">
    <div class="container">
        <h2 class="title">
            Популярные категории
        </h2>

        <ul class="popular__filters">

            <li class="popular__filter">
                <button class="popular__btn popular__btn--burger mixitup-control-active" data-filter="all"
                    type="button">
                    <svg class="popular__icon">
                        <use xlink:href="images/sprite.svg#burger-icon"></use>
                    </svg>
                    Бургеры
                </button>
            </li>

            <li class="popular__filter">
                <button class="popular__btn popular__btn--pizza" data-filter=".category-a" type="button">
                    <svg class="popular__icon popular__icon--pizza">
                        <use xlink:href="images/sprite.svg#pizza-icon"></use>
                    </svg>
                    Пицца
                </button>
            </li>

            <li class="popular__filter">
                <button class="popular__btn popular__btn--sandwich" data-filter=".category-b" type="button">
                    <svg class="popular__icon">
                        <use xlink:href="images/sprite.svg#sandwich-icon"></use>
                    </svg>
                    Сендвичи
                </button>
            </li>

            <li class="popular__filter">
                <button class="popular__btn popular__btn--asia" data-filter=".category-c" type="button">
                    <svg class="popular__icon popular__icon--asia">
                        <use xlink:href="images/sprite.svg#asia-icon"></use>
                    </svg>
                    Азиатская кухня
                </button>
            </li>

            <li class="popular__filter">
                <button class="popular__btn popular__btn--sets" data-filter=".category-d" type="button">
                    <svg class="popular__icon popular__icon--sets">
                        <use xlink:href="images/sprite.svg#sets-icon"></use>
                    </svg>
                    Cеты
                </button>
            </li>

        </ul>

        <ul class="popular__content">

            <li class="popular__item mix category-a">
                <article class="popular__card">
                    <a class="popular__card--link" href="#">
                        <img class="popular__card--img" src="images/cards/1.jpg" width="140" height="140"
                            alt="гамбургер">
                    </a>
                    <span class="popular__card--description">
                        Чизбургер с листьями салата
                    </span>
                    <span class="popular__card--price">
                        160 руб.
                    </span>
                    <button class="popular__card--btn" type="button">
                        В корзину
                    </button>
                </article>
            </li>

            <li class="popular__item mix category-a">
                <article class="popular__card">
                    <a class="popular__card--link" href="#">
                        <img class="popular__card--img" src="images/cards/2.jpg" width="140" height="140"
                            alt="гамбургер">
                    </a>
                    <span class="popular__card--description">
                        Бифбургер
                    </span>
                    <span class="popular__card--price">
                        190 руб.
                    </span>
                    <button class="popular__card--btn" type="button">
                        В корзину
                    </button>
                </article>
            </li>

            <li class="popular__item mix category-b">
                <article class="popular__card">
                    <a class="popular__card--link" href="#">
                        <img class="popular__card--img" src="images/cards/3.jpg" width="140" height="140"
                            alt="гамбургер">
                    </a>
                    <span class="popular__card--description">
                        Королевский чизбургер
                    </span>
                    <span class="popular__card--price">
                        260 руб.
                    </span>
                    <button class="popular__card--btn" type="button">
                        В корзину
                    </button>
                </article>
            </li>

            <li class="popular__item mix category-b">
                <article class="popular__card">
                    <a class="popular__card--link" href="#">
                        <img class="popular__card--img" src="images/cards/4.jpg" width="140" height="140"
                            alt="гамбургер">
                    </a>
                    <span class="popular__card--description">
                        Черный гамбургер
                    </span>
                    <span class="popular__card--price">
                        199 руб.
                    </span>
                    <button class="popular__card--btn" type="button">
                        В корзину
                    </button>
                </article>
            </li>

            <li class="popular__item mix category-c">
                <article class="popular__card">
                    <a class="popular__card--link" href="#">
                        <img class="popular__card--img" src="images/cards/5.jpg" width="140" height="140"
                            alt="гамбургер">
                    </a>
                    <span class="popular__card--description">
                        Чикен бургер
                    </span>
                    <span class="popular__card--price">
                        180 руб.
                    </span>
                    <button class="popular__card--btn" type="button">
                        В корзину
                    </button>
                </article>
            </li>

            <li class="popular__item mix category-c">
                <article class="popular__card">
                    <a class="popular__card--link" href="#">
                        <img class="popular__card--img" src="images/cards/1.jpg" width="140" height="140"
                            alt="гамбургер">
                    </a>
                    <span class="popular__card--description">
                        Чизбургер с листьями салата
                    </span>
                    <span class="popular__card--price">
                        160 руб.
                    </span>
                    <button class="popular__card--btn" type="button">
                        В корзину
                    </button>
                </article>
            </li>

            <li class="popular__item mix category-d">
                <article class="popular__card">
                    <a class="popular__card--link" href="#">
                        <img class="popular__card--img" src="images/cards/2.jpg" width="140" height="140"
                            alt="гамбургер">
                    </a>
                    <span class="popular__card--description">
                        Бифбургер
                    </span>
                    <span class="popular__card--price">
                        190 руб.
                    </span>
                    <button class="popular__card--btn" type="button">
                        В корзину
                    </button>
                </article>
            </li>

            <li class="popular__item mix category-d">
                <article class="popular__card">
                    <a class="popular__card--link" href="#">
                        <img class="popular__card--img" src="images/cards/3.jpg" width="140" height="140"
                            alt="гамбургер">
                    </a>
                    <span class="popular__card--description">
                        Королевский чизбургер
                    </span>
                    <span class="popular__card--price">
                        260 руб.
                    </span>
                    <button class="popular__card--btn" type="button">
                        В корзину
                    </button>
                </article>
            </li>

            <li class="popular__item mix category-a">
                <article class="popular__card">
                    <a class="popular__card--link" href="#">
                        <img class="popular__card--img" src="images/cards/4.jpg" width="140" height="140"
                            alt="гамбургер">
                    </a>
                    <span class="popular__card--description">
                        Черный гамбургер
                    </span>
                    <span class="popular__card--price">
                        199 руб.
                    </span>
                    <button class="popular__card--btn" type="button">
                        В корзину
                    </button>
                </article>
            </li>

            <li class="popular__item mix category-c">
                <article class="popular__card">
                    <a class="popular__card--link" href="#">
                        <img class="popular__card--img" src="images/cards/5.jpg" width="140" height="140"
                            alt="гамбургер">
                    </a>
                    <span class="popular__card--description">
                        Чикен бургер
                    </span>
                    <span class="popular__card--price">
                        180 руб.
                    </span>
                    <button class="popular__card--btn" type="button">
                        В корзину
                    </button>
                </article>
            </li>

        </ul>

        <button class="popular__add default__link" type="button">
            Показать еще
        </button>

    </div>
</section>