<section class="restaurant section">
    <div class="container">
        <h2 class="title restaurant__title">
            Лучшие рестораны
        </h2>
        <ul class="restaurant__content">
            <li class="restaurant__item">
                <img class="restaurant__img" src="images/restaurants/1.jpg" alt="ресторан Blaze Pizza">
                <h3 class="restaurant__name">
                    Blaze Pizza
                </h3>
                <div class="restaurant__info">
                    <span class="restaurant__time">
                        11:00 - 22:00
                    </span>
                    <a class="restaurant_link" href="#"></a>
                </div>
            </li>
            <li class="restaurant__item">
                <img class="restaurant__img" src="images/restaurants/2.jpg" alt="ресторан Pizza Runcho">
                <h3 class="restaurant__name">
                    Pizza Runcho
                </h3>
                <div class="restaurant__info">
                    <span class="restaurant__time">
                        12:00 - 21:00
                    </span>
                    <a class="restaurant_link" href="#"></a>
                </div>
            </li>
            <li class="restaurant__item">
                <img class="restaurant__img" src="images/restaurants/3.jpg" alt="ресторан Pizza Hut">
                <h3 class="restaurant__name">
                    Pizza Hut
                </h3>
                <div class="restaurant__info">
                    <span class="restaurant__time">
                        11:00 - 22:00
                    </span>
                    <a class="restaurant_link" href="#"></a>
                </div>
            </li>
            <li class="restaurant__item">
                <img class="restaurant__img" src="images/restaurants/4.jpg" alt="ресторан McDonald`s">
                <h3 class="restaurant__name">
                    McDonald`s
                </h3>
                <div class="restaurant__info">
                    <span class="restaurant__time">
                        06:00 - 23:00
                    </span>
                    <a class="restaurant_link" href="#"></a>
                </div>
            </li>
            <li class="restaurant__item">
                <img class="restaurant__img" src="images/restaurants/5.jpg" alt="ресторан KFC">
                <h3 class="restaurant__name">
                    KFC
                </h3>
                <div class="restaurant__info">
                    <span class="restaurant__time">
                        06:00 - 23:30
                    </span>
                    <a class="restaurant_link" href="#"></a>
                </div>
            </li>
            <li class="restaurant__item">
                <img class="restaurant__img" src="images/restaurants/6.jpg" alt="ресторан Star Burgers">
                <h3 class="restaurant__name">
                    Star Burgers
                </h3>
                <div class="restaurant__info">
                    <span class="restaurant__time">
                        09:00 - 21:00
                    </span>
                    <a class="restaurant_link" href="#"></a>
                </div>
            </li>
        </ul>
    </div>
</section>