<section class="hero">
    <h1 class="sr-only">главная страница</h1>
    <div class="container">

        <ul class="hero__slider">
            <li class="hero__item">
                <div class="hero__inner">
                    <div class="hero__content">

                        <h2 class="hero__title">

                            <span class="hero__title-span">
                                Доставка
                            </span>
                            за 15 минут
                        </h2>

                        <div class="hero__text">
                            <p>
                                Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш
                                счёт
                            </p>
                        </div>

                        <div class="hero__buttons">

                            <a class="hero__btn default__btn" href="#">
                                Заказать
                            </a>

                            <a class="hero__link default__link" href="#">
                                Подробнее
                            </a>

                        </div>

                    </div>
                    <img class="hero__img" src="images/bg.png" width="560" height="660" alt="курьер">

                </div>
            </li>

            <li class="hero__item">
                <div class="hero__inner">
                    <div class="hero__content">

                        <h2 class="hero__title">

                            <span class="hero__title-span">
                                Вежливые
                            </span>
                            курьеры
                        </h2>

                        <div class="hero__text">
                            <p>
                                Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш
                                счёт
                            </p>
                        </div>

                        <div class="hero__buttons">

                            <a class="hero__btn default__btn" href="#">
                                Заказать
                            </a>

                            <a class="hero__link" href="#">
                                Подробнее
                            </a>

                        </div>

                    </div>
                    <img class="hero__img" src="images/bg.png" width="560" height="660" alt="курьер">

                </div>
            </li>

            <li class="hero__item">
                <div class="hero__inner">
                    <div class="hero__content">

                        <h2 class="hero__title">

                            <span class="hero__title-span">
                                Более 500
                            </span>
                            заведений
                        </h2>

                        <div class="hero__text">
                            <p>
                                Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш
                                счёт
                            </p>
                        </div>

                        <div class="hero__buttons">

                            <a class="hero__btn default__btn" href="#">
                                Заказать
                            </a>

                            <a class="hero__link" href="#">
                                Подробнее
                            </a>

                        </div>

                    </div>
                    <img class="hero__img" src="images/bg.png" width="560" height="660" alt="курьер">

                </div>
            </li>
        </ul>

    </div>
</section>