<section class="testimonials section">
    <div class="container">
        <h2 class="title testimonials__title">
            Отзывы клиентов
        </h2>
        <ul class="testimonials__slider">

            <li class="testimonials__inner">
                <div class="testimonials__item">
                    <img class="testimonials__img" src="images/darya-img.jpg" width="300" height="300" alt="фото Дарьи">
                    <blockquote class="testimonials__blockquote">
                        <div class="testimonials__text">
                            <p>
                                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
                            </p>
                        </div>
                        <cite class="testimonials__cite">
                            Дарья
                        </cite>
                        <span class="testimonials__description">
                            Ценитель вкусной еды
                        </span>
                    </blockquote>
                </div>
            </li>

            <li class="testimonials__inner">
                <div class="testimonials__item">
                    <img class="testimonials__img" src="images/darya-img.jpg" width="300" height="300" alt="фото Дарьи">
                    <blockquote class="testimonials__blockquote">
                        <div class="testimonials__text">
                            <p>
                                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
                            </p>
                        </div>
                        <cite class="testimonials__cite">
                            Дарья
                        </cite>
                        <span class="testimonials__description">
                            Ценитель вкусной еды
                        </span>
                    </blockquote>
                </div>
            </li>

            <li class="testimonials__inner">
                <div class="testimonials__item">
                    <img class="testimonials__img" src="images/darya-img.jpg" width="300" height="300" alt="фото Дарьи">
                    <blockquote class="testimonials__blockquote">
                        <div class="testimonials__text">
                            <p>
                                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
                            </p>
                        </div>
                        <cite class="testimonials__cite">
                            Дарья
                        </cite>
                        <span class="testimonials__description">
                            Ценитель вкусной еды
                        </span>
                    </blockquote>
                </div>
            </li>

            <li class="testimonials__inner">
                <div class="testimonials__item">
                    <img class="testimonials__img" src="images/darya-img.jpg" width="300" height="300" alt="фото Дарьи">
                    <blockquote class="testimonials__blockquote">
                        <div class="testimonials__text">
                            <p>
                                SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
                            </p>
                        </div>
                        <cite class="testimonials__cite">
                            Дарья
                        </cite>
                        <span class="testimonials__description">
                            Ценитель вкусной еды
                        </span>
                    </blockquote>
                </div>
            </li>

        </ul>
    </div>
</section>


